html{
    background-color: rgb(209, 255, 255);
}
body{
    font-family: "Times New Roman", Arial, Helvetica, serif;
}
.pichu {
    height: 242px;
    width: 190px;
    margin-top: 5%;
}
.think {
    color: rgb(255, 47, 116);
    background-color: greenyellow;
}
.gt {
    font-size: 200%;
    color: rgb(0, 174, 255);
    background-color: chartreuse;
}
.gt1 {
    font-size: 200%;
    background-color: cornflowerblue;
    margin-bottom: 2%;
}

.wellcome {
    color: chocolate;
    font-size: 300%;
    background-color: cornsilk;
    position: absolute;
    margin-left: 15%; 
    
}

